<h3 style="text-align: center;">Item List</h3>
<table class="table table-hover" style="margin-left: 1%">
    <thead>
      <th>Name</th>
      <th>Brand</th>
      <th>UOM</th>
      <th>Sales Price</th>
      <th>Unit Price</th>
      <th>Delete</th>
      <th> Update </th>
  
    </thead>
    <tbody>
      <tr *ngFor="let item of items | async" >
        <td >{{item.name}}</td>
        <td>xxx</td>
        <td>xx</td>
        <td>{{item.salesPrice}}</td>
        <td>{{item.unitPrice}}</td>
         <td><button class="btn text-danger" (click)="onDelete(item.id)"><i class="fa fa-trash"></i></button></td>
         <!-- <td><a class="btn text-success" (click)="onDelete(emp.id)"><i class="fa fa-edit"></i></a></td> -->
      </tr>
    </tbody>
  </table>